.headerComponent {
    font-size: 24px;
    background-color: aquamarine;
    border-color: black;
    padding: 12px;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;

    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
}

.logo {
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */


    font-size: 24px;
    color: #000;
    text-decoration: none;
    float: left;
    margin: 0 left;
}

.navbar-split-l {
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */

    margin: 0 left;
}

.navbar-split-r {
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */

    margin: 0 right;
}

.link {
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */

    padding: 1px 6px;
    text-decoration: none;
    margin: auto 0;

    vertical-align: text-bottom;

    font-size: 18px;
    color: #000;
    background-color: lightblue;
}

.link:hover {
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;

    vertical-align: middle;

    color: #000;
    background-color: cornflowerblue;
}