

.leaderboardComponent {
    display: flex;
    width: 80%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

thead {
    border-top: 0px;
}

table {
    border-collapse: collapse;
}

.tableRow {
    border-top: 1px solid black;
}

.image {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
}